<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CURATE THE VIBES</title>
  <script type=module>
    customElements.define('local-time', class LocalTime extends HTMLElement {
      constructor() { super() }
      connectedCallback() {
        const time = this.querySelector('time');
        const timestamp = time.dateTime;
        time.innerText = new Intl.DateTimeFormat(
                                   'en-US', 
                                   { 
                                     day: "numeric",
                                     month: "short",
                                     year: "numeric"
                                   }
                                 )
                                 .format(Date.parse(timestamp))
      }
    })
    customElements.define('youtube-search', class YouTubeSearch extends HTMLElement {
      constructor() { super() }
      connectedCallback() {
        this.resultTemplate = this.querySelector('output template').content;
        this.resultsTable = this.querySelector('output table tbody');
        this.querySelector('#search_form').addEventListener('submit', async e => {
          e.preventDefault();
          const params = new FormData(e.target);
          const url = `${params.get('endpoint')}&q=${params.get('q')}&key=${params.get('key')}`;
          const query = await fetch(url).then(results => results.json());
          const results = query.items
            .filter(i => i.id.kind === 'youtube#video')
            .map(i => {
              const template = this.resultTemplate.cloneNode(true);
              template.querySelector('[name=yt_id]').value = i.id.videoId;

              template.querySelector('[data-name=title]').innerHTML = i.snippet.title;
              template.querySelector('[name=title]').value = i.snippet.title;

              template.querySelector('[data-name=artist]').innerHTML = i.snippet.channelTitle.replace(' - Topic', '');
              template.querySelector('[name=artist]').value = i.snippet.channelTitle.replace(' - Topic', '');

              return template;
            })
          this.resultsTable.innerHTML = '';
          results.forEach(el => this.resultsTable.appendChild(el));
        })
      }
    })
  </script>
  <style>
    @font-face {
        font-family: "Sixtyfour";
        src: url(assets/Sixtyfour-Variable.ttf);
    }
    :root { 
      font: 1rem/1 system-ui;
      color-scheme: dark
    }
    *, *::before, *::after {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
    html { 
        font: 1rem/1 Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        font-family: sans-serif;
        color: oklch(95% 0.15 285);
        fill: oklch(95% 0.15 285);
    }
    body { 
        margin: 0 1rem 0 1rem;
        background-image: url(assets/pagebg.png);
        background-size: 400px;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
    }
    button, input {
      color: oklch(95% 0.15 285);
    }
    button, input[type=submit] {
      font-weight: 600
    }
    h1 {
        text-wrap: balance;
        color: oklch(75% 0.15 170);
        font-size: 3rem;
        text-align: center;
        font-family: "Sixtyfour";
        text-shadow: oklch(75% 0.15 170) 0 0  0.35em;
        font-variation-settings: "BLED" 22, "SCAN" -30;
    }
    main {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
        margin-block-end: 4rem;
        width: fit-content;
        margin-inline: auto;
        border-radius: 1.5rem;
        border: 1px solid oklch(35% 0.1 285);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-image: url(assets/playerbg.png);
        background-position: center;
        background-color: oklch(35% 0.1 285 / 35%);
    }
    fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: .5rem;
        padding: .75rem 1rem 1rem 1rem;
        border: 1px solid oklch(45% 0.1 285);
    }
    legend {
      font-weight: bold;
      font-size: 1.2rem;
      padding-inline: .5rem;
    }
    form {
      display: grid;
      grid-template-columns: max-content 1fr;
      margin-inline: auto;
      width: fit-content;
      gap: .5rem;
      align-items: center;
      & label {
        justify-self: end;
        font-weight: 600;
      }
      & input {
        padding: .35rem;
      }
      & input[type=submit] {
        grid-column: span 2;
      }
    }
    td, th {
      padding: .35rem;
    }
    tbody td {
      text-align: center;
    }
    thead button {
      width: 100%;
      display: block;
      padding: .35rem;
    }
    dialog {
      translate: 0 -10vh;
      padding: 1rem;
      border-radius: .5rem;
      border: 1px solid oklch(35% 0.1 285);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-image: url(assets/playerbg.png);
      background-position: center;
      background-color: oklch(25% 0.05 285 / 75%);
    youtube-search {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & #search_form {
        width: 100%;
        min-width: 60ch;
        grid-template-columns: 1fr max-content;
        & button {
          width: 8rem;
        }
      }
      & output {
        & table {
          width: 100%;
          & td {
            white-space: nowrap;
            padding-block: .25rem;
            max-width: 60ch;
            overflow: clip;
            text-overflow: ellipsis;
            &:last-child {
              width: 9.5rem;
            }
          }
        }
        &:has(tbody:empty) {
          display: none;
        }
      }
    }
    }
    form[method=dialog] {
      width: 100%;
      margin-block-end: .5rem;
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <h1>CURATE THE VIBES</h1>
  <main>
    <fieldset>
      <legend>CREDENTIALS</legend>
      <form method=post action=user>
        <label for=username>omg.lol Username</label>
        <input id=username type=text name=username value="<%= user.username %>">
        <label for=api_key>YouTube API Key</label>
        <input type=text id=api_key name=api_key value="<%= user.api_key %>">
        <input type=submit value="Save Credentials">
      </form>
    </fieldset>
    <fieldset>
      <legend>TRACKLIST</legend>
      <table>
        <thead>
          <tr><td colspan=3><button onclick="addTrack.showModal()">Add Track</button></td></tr>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>
          <% tracks.each do |t| %>
            <tr>
              <td><%= t[:title] %></td>
              <td><%= t[:artist] %></td>
              <td>
                <local-time>
                  <time datetime="<%= t[:created_at] %>"><%= t[:created_at] %></time>
                </local-time>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <dialog id=addTrack>
        <form method=dialog>
          <strong>Add Track</strong>
          <button>🗙</button>
        </form>
        <youtube-search>
          <form id="search_form">
            <input type=hidden name=endpoint value="https://youtube.googleapis.com/youtube/v3/search?part=snippet&maxResults=25&order=relevance">
            <input type=hidden name=key value="<%= user.api_key %>">
            <input placeholder="Search YouTube" autofocus type=search name=q>
            <button>Search</button>
          </form>
          <output form="search_form">
            <template>
              <tr>
                <td data-name=title></td>
                <td data-name=artist></td>
                <td>
                  <form method=post action=track>
                    <input type=hidden name=yt_id>
                    <input type=hidden name=title>
                    <input type=hidden name=artist>
                    <input type=submit value="Add">
        </form>
                </td>
              </tr>
            </template>
            <table>
              <thead>
                <th>Title</th>
                <th>Artist</th>
                <th></th>
              </thead>
              <tbody></tbody>
            </table>
          </output>
        </youtube-search>
      </dialog>
    </section>
  </main>
</body>
</html>
